
obj/*
*.cache
*.deploy
*.application
*.manifest
*.exe
*.zip
CallLogTracker/Properties/Resources.resx
CallLogTracker/Properties/Resources.Designer.cs
CallLogTracker/bin/config.cfg
config.cfg
Websites.txt